div{
	text-align: center;
}
#最小值,#最大值{
	width: 4rem;
}
#其他要求{
	height: 7rem;
	width: 10rem;
}
input[value="确定"]{
	height: 2rem;
	width: 4rem;
	margin: 0.8rem;
}
progress{
	height: 1rem;
	width: 10rem;
}